h1,
h2,
h3 body,
p {
  margin: 0;
}

h1 {
  font-family: "PlayFair Display", serif;
  font-size: 40px;
  font-weight: normal;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

h1 span {
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
}

.profissao {
  font-size: 24px;
}

.t60 {
  color: rgba(0, 0, 0, 0.6);
}

body {
  background-color: #e5e5e5;
  margin: 0;
}

header {
  background-color: white;
  padding: 32px 64px;
}

.dados {
  display: inline-block;
  margin-bottom: 10px;
}

.foto {
  border: 4px solid #10a38a;
  border-radius: 50%;
  margin-bottom: -120px;
  margin-right: 24px;
}

main {
  display: flex;
  padding: 40px 70px;
}

.coluna-menor {
  margin-top: 48px;
  width: 288px;
}
.linha {
  width: 80px;
  border-top: 2px solid;
  margin-top: 8px;
}

.experiencias .linha {
  border-color: #10a38a;
}

.formacao .linha {
  border-color: #10a38a;
}

.coluna-menor img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.coluna-menor li {
  display: flex;
  margin-top: 32px;
}

.conteudo {
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

.formacao {
  margin-top: 32px;
}

.coluna-maior {
  margin-left: 24px;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
}

.coluna-maior h2 {
  font-size: 42px;
  margin-bottom: 20px;
  margin-left: 16px;
}

.habilidade {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  margin: 12px;
  width: 288px;
}

.habilidade h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
}

.habilidade p {
  font-size: 20px;
}

.progresso {
  width: 100%;
  display: flex;
}

.barra {
  width: 20%;
  margin-top: 8px;
  height: 4px;
  background-color: #10a38a;
}

.incompleto {
  opacity: 0.2;
}

.habilidade li {
  margin-top: 32px;
}

.habilidade li:first-child {
  margin-top: 0px;
}

/*.projetos {
  display: flex;
  flex-wrap: wrap;
}

.projeto {
  width: 392px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  margin: 12px;
}

.projeto h3 {
  font-size: 24px;
  font-weight: bold;
}

.projeto p {
  margin-top: 16px;
  margin-bottom: 24px;
}

.projeto a {
  display: inline-block;
  text-decoration: none;
  background-color: #10a38a;
  color: white;
  padding: 8px 24px;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  margin-top: 24px;
}*/
footer {
  background-color: #10a38a;
  text-align: center;
  color: white;
  padding: 56px;
  font-family: "Open Sans", sans-serif;
}

.redes {
  display: flex;
  justify-content: center;
  margin-top: 390px;
  margin-left: 88%;
  width: 100px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.redes img {
  float: left;
  width: 19px;
  border: thin solid;
  border-color: transparent;
  padding: 10px;
}
